@font-face {
    font-family: 'The Pretender Light Sans';
    src: url('../fonts/ThePretender-LightSans.otf') format('opentype'),
        url('../fonts/Galgine.otf') format('opentype');
}

html,
body {
    font-family: 'The Pretender Light Sans';
    font-weight: 400;
    background-color: #ffffff;
    font-size: 40px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    min-width: 340px;
    margin: 0;
}

#pagInicial {
    background-image: url("../images/Background-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.logo img {
    top: 14%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    position: absolute;
    width: auto;
    max-height: 30%;
    animation-duration: 0.6s;
    opacity: 0;
}

.animarLogo img {
    animation-fill-mode: forwards;
    animation-name: slide;
}

.dino-button a {
    top: 46%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(20, 112, 55);
    background-color: transparent;
    background-image: url(../images/iconpizza.png);
    background-size: 37px;
    background-repeat: no-repeat;
    background-position: 1px;
    border-style: solid;
    border-color: rgb(231, 199, 94);
    border-bottom-width: 4px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 0px;
    margin-bottom: 15px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    display: flex;
    position: absolute;
    overflow: hidden;
    width: auto;
    max-height: 10%;
    animation-delay: 0.4s;
    animation-duration: 0.5s;
    opacity: 0;
}

.dino-button a:hover {
    filter: brightness(200%);
}

.whats-button a {
    top: 54.5%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    color: rgb(20, 112, 55);
    background-color: transparent;
    background-image: url(../images/iconwhats.png);
    background-size: 37px;
    background-repeat: no-repeat;
    background-position: 1px;
    border-style: solid;
    border-color: rgb(231, 199, 94);
    border-bottom-width: 4px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 0px;
    margin-bottom: 15px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    display: flex;
    position: absolute;
    overflow: hidden;
    width: auto;
    max-height: 10%;
    animation-delay: 0.4s;
    animation-duration: 0.5s;
    opacity: 0;
}

.whats-button a:hover {
    filter: brightness(200%);
}

.insta-button{
    position: sticky;
    position: -webkit-sticky;
    top: 75%;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
    width: 340px;
    height: 210px;
}

.insta-button a {
    font-family: 'Galgine';   
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
    color: rgb(20, 112, 55);
    background-color: rgb(250, 249, 249);
    background-image: url(../images/moldura.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center 20px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    display: flex;
    width: 340px;
    height: 210px;
    animation-delay: 0.7s;
    animation-duration: 0.6s;
    opacity: 0;
}

.insta-button a:hover {
    color: rgb(112, 20, 20);
}

.text{
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    transition: all .3s;
    display: flex;
    position: absolute;
    overflow: hidden;
    animation-delay: 0.4s;
    animation-duration: 0.5s;
    opacity: 0;
}

.lin1{
    top: 67%;
    letter-spacing: 3px;
}

.lin2{
    top: 70%;
    letter-spacing: 2px;
}

.textPrincipal img {
    top: 69%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 15px;
    display: flex;
    position: absolute;
    animation-delay: 0.4s;
    animation-duration: 0.5s;
    opacity: 0;
}

.animar a {
    animation-fill-mode: forwards;
    animation-name: slide;
}

.animarFooter a {
    animation-fill-mode: forwards;
    animation-name: footer;
}

.animar p {
    animation-fill-mode: forwards;
    animation-name: slide;
}

.animar img {
    animation-fill-mode: forwards;
    animation-name: slide;
}

@media screen and (max-width:600px) {
    #pagInicial {
        background-image: url("../images/Background-Mobile.jpg");
    }

    .logo img {
        height: 15%;
        top: 40%;
    }

    .dino-button a {
        top: 59.5%;
        font-size: 25px;
        letter-spacing: 2px;
        background-image: url(../images/iconpizza.png);
        background-size: 23px;
        margin-bottom: 5px;
        width: 200px;
        height: auto;
        border-style: solid;
        border-color: rgb(231, 199, 94);
        border-bottom-width: 3px;
    }

    .whats-button a {
        top: 66%;
        font-size: 25px;
        letter-spacing: 1px;
        background-image: url(../images/iconwhats.png);
        background-position: 3px;
        background-size: 23px;
        margin-bottom: 5px;
        width: 205px;
        height: auto;
        border-style: solid;
        border-color: rgb(231, 199, 94);
        border-bottom-width: 3px;
    }


    .insta-button{
        left: 50%;
        transform: translate(-50%, 0);
        position: sticky;
        position: -webkit-sticky;
        top: 78%;
        display: flex;
        width: 210px;
        height: 140px;
    }

    .insta-button a {
        font-size: 19px;
        letter-spacing: 0px;
        background-size: 180px;
        background-position: center 10px;
        border-radius: 2px;
        width: 210px;
        height: 140px;
    }

    .text{
        font-size: 23px;
    }

    .lin1{
        top: 75%;
        letter-spacing: 2px;
    }

    .lin2{
        top: 78%;
        letter-spacing: 1px;
    }

    .textPrincipal img {
        top: 74.5%;
        width: 10px;
    }

}

@media screen and (max-width:385px) {
    .insta-button{
        transform: translate(-37.5%, 0);
    }
    .dino-button a {
        font-size: 24px;
        letter-spacing: 1px;
        background-size: 23px;
        width: 215px;
    }

    .whats-button a {
        font-size: 24px;
        letter-spacing: 0.7px;  
        background-size: 23px;
        width: 216px;
    }
}



@keyframes slide {
    from {
        opacity: 0;
    }

    to {
        transform: translate(-50%, -90px);
        opacity: 1;
    }


}


@keyframes footer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }


}